#wrapper {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: lato;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

#wrapper #header h1.title{
    font-size: 10px;
    font-weight:normal;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #004d40;
}

#wrapper #header .menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    background: #004d40;
}
#wrapper #header .menu li:first-child {
    margin-left: 20px;
}
#wrapper #header .menu li {
    padding: 5px 15px;
    margin: 0 5px;
    color: #fff;
    text-shadow: 1px 1px 0 #333;
    font-weight: bolder;
    text-shadow: none;
    cursor: pointer;
}

#wrapper #header .menu li:hover {
    color: #fff;
}
#wrapper #header .menu li.active {
    border-radius: 5px 5px 0 0;
    background: #fff;
    color: #004d40;
    border-bottom: solid thin #fff;
}

#wrapper #header .menu-content {
    padding:10px 5px;
    height: 90px;
    flex-direction: row;
    background: #ece9e6;
    background: -webkit-linear-gradient(to top, #ece9e6, #ffffff);
    background: linear-gradient(to top, #ece9e6, #ffffff);
}
#wrapper #header .menu-content > div { display: none;}
#wrapper #header .menu-content > div.active { display:flex; }
#wrapper #header .menu-content  div.spacer {flex:1;margin:0 5px;}
#wrapper #header .menu-content fieldset {
    display: block;
    float: left;
    background:#fff;
    box-shadow: 2px 2px 0 #cecece;
    border-top: thin solid #ccc;
    border-left: thin dotted #ccc;
    height: 70px;
    padding:10px;
    position: relative;
    overflow: hidden;
}
#wrapper #header .menu-content fieldset:first-child,
#wrapper #header .menu-content fieldset.independent {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-style: solid;
}
#wrapper #header .menu-content fieldset.independent {
    margin-left: 7px;
}

#wrapper #header .menu-content fieldset:last-child,
#wrapper #header .menu-content fieldset.last {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#wrapper #header .menu-content fieldset legend {
    position: absolute;
    font-size: xx-small;
    color: #aaa;
    font-weight: bold;
    background: -webkit-linear-gradient(to top, #ece9e6, #ffffff);
    background: linear-gradient(to top, #ece9e6, #ffffff);
    padding-bottom: 3px;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #fff;
    left:0;
    right: 0;
    bottom:0;
    text-align: center;
}
#wrapper #header .menu-content select {
    border:solid thin #ccc;
    border-radius: 0;
}
#wrapper #header .formula-bar {
    border-top:solid thin #dcdcdc;
    border-bottom:solid thin #dcdcdc;
    margin-bottom:2px;
    display: flex;
}

#wrapper #header .formula-bar .side {
    padding: 5px 10px;
    font-weight: bolder;
    font-size: 16px;
    line-height: 18px;
    border-left: solid thin #ccc;
}
#wrapper #header .formula-bar input.cell-name {
    width: 80px;
    text-align: center;
    border:none;
}
#wrapper #header .formula-bar .side .actions {
    font-size: 12px;
    color: gray;
    cursor: pointer;
}
#formula-bar.active .actions .cancel { color:#a80000; }
#formula-bar.active .actions .commit { color:#00a800; }
#wrapper #header .formula-bar .side .actions i {
    margin: 0 3px;
}
#wrapper #header .formula-bar .arrow {
    line-height: 30px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    color: lightgray;
}
#wrapper #header .formula-bar .arrow:hover {
    color:gray;
}
#wrapper #header .formula-bar input.formula {
    flex:1;
    border: none;
    border-left:  solid thin lightgray;
    text-indent: 5px;
    margin: 4px 0;
}

#wrapper #content {
    position: relative;
    background: #fff;
    border-top: solid thin #ccc;
    flex: 1;
}

#wrapper #footer {
    height: 30px;
    background: #ececec;
}



input[type=color] {
    border: none;
    padding: 0px;
    width: 20px;
}

.menu-content fieldset p {
    margin-bottom: 5px;
}
.menu-content button {
    border: solid thin #ccc;
    font-size: x-small;
    border-radius: 2px;
    background: linear-gradient(to top, #ece9e6, #ffffff);
}

.menu-content .button-group {
    display: flex;
}
.menu-content .button-group button {
    border-radius: 0;
    border-right-style: none;
    cursor: pointer;
    min-width: 25px;
    padding: 4px;
    text-align: center;
}
.menu-content .button-group button:hover {
    text-decoration: underline;
    background: linear-gradient(to top, #dddddd, #ffffff);
}
.menu-content .button-group button:disabled {
    color: #ccc;
    background: #fefefe;
    cursor: not-allowed;
    text-decoration: none !important;
}
.menu-content .button-group button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.menu-content .button-group button:last-child {
    border-right-style: solid;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.menu-content .button-group .on{
    background: linear-gradient(to top, #cccccc, #efefef);
}

.menu-content label {
    font-size: x-small;
}

.flat-button {
    color:#333;
    text-shadow: 1px 1px 0 #eee;
    transition-duration: .1s;
}
.flat-button:hover {
    color:#000;
    text-shadow: 2px 2px 0 #ccc;
    transition-duration: .1s;
}
.xx-large-font { font-size: xx-large;}

#border-grid {
    display:grid;
    grid-template-columns:7px auto 7px;
    grid-template-rows:7px auto 7px;
    width:38px;
    height:38px;
    margin:2px 10px;
    background:#aaa;
    border:solid thin #ddd;
    border-radius:5px;
    overflow:hidden;
}
#border-grid:hover,
#border-grid:hover div.action{
    background:red;
}
#border-grid div.action {
    background: #333;
}

#border-grid div.center {
    background: #eee;
    font-size:16px;
    text-align:center;
}
#border-grid div.action:hover {
    background:#ccc;
}

.about-menu a {
    text-decoration:none;
}
